form {
    display: flex;
    flex-direction: column;
    width: 60rem;
    padding: 1rem;
    border: solid gray;
    border-radius: 1rem;
    background: gray;
}

.form-button-container {
    display: flex;
    justify-content: flex-end;

    button {
        margin-right: 1rem;
    }
}
