<form [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Title</mat-label>
        <input matInput placeholder="title" formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Description</mat-label>
        <textarea matInput rows="3" type="text" placeholder="Add description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Date</mat-label>
        <input matInput type="text" formControlName="date" />
    </mat-form-field>

    <div class="duration">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Duration</mat-label>
            <input matInput type="text" formControlName="duration" />
        </mat-form-field>
        <p>({{ form.value.duration | durationFormat }})</p>
    </div>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Author</mat-label>
        <input matInput type="text" formControlName="author" />
    </mat-form-field>

    <div class="form-button-container">
        <button type="submit" mat-raised-button color="primary" (click)="getData()">Save</button>
        <button mat-raised-button color="warn" (click)="getBack()">Cancel</button>
    </div>
</form>
