<form [formGroup]="form" (submit)="getData()">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter title" formControlName="title" />
        <mat-error>Enter tittle 50 symbols max</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Description</mat-label>
        <textarea matInput rows="3" type="text" placeholder="Add description" formControlName="description"></textarea>
        <mat-error>Enter description 500 symbols max</mat-error>
    </mat-form-field>

    <app-custom-date-input
        [dateInput]="course ? course.creationDate : ''"
        formControlName="creationDate"
    ></app-custom-date-input>

    <app-custom-duration-input
        formControlName="duration"
        [durationInput]="course ? course.duration : 0"
    ></app-custom-duration-input>

    <app-custom-author-input
        formControlName="authors"
        [authors]="authors"
        [authorsInitial]="course ? course.authors : []"
    ></app-custom-author-input>

    <div class="form-button-container">
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Save</button>
        <button mat-raised-button color="warn" (click)="getBack()">Cancel</button>
    </div>
</form>
