<div class="header-container">
    <app-logo></app-logo>
    <div class="user-log-container">
        <p *ngIf="isAthorized" class="user-nickname"><mat-icon>account_circle</mat-icon>{{ user }}</p>
        <button mat-flat-button color="primary" (click)="onLogoff()">
            <mat-icon>arrow_right_alt</mat-icon>
            Log off
        </button>
    </div>
</div>
<div class="bread-crumbs" *ngIf="link">
    <a [routerLink]="['/courses-page']">Courses{{ link ? "/" : "" }}{{ link }}</a>
</div>
