<div class="courses-container" *ngIf="courses$ | async as courses">
    <app-course-item
        *ngFor="let course of courses | orderByDate"
        [course]="course"
        (deleteCourse)="onDeleteCourse($event)"
        (editCourse)="onEditCourse($event)"
    ></app-course-item>
</div>
<div *ngIf="!(courses$ | async)?.length">No data, feel free to add new course</div>
<ng-container *ngIf="courses$ | async as courses">
    <button mat-button color="primary" (click)="onLoad(courses.length)">Load more</button>
</ng-container>
