<mat-card [appCreationDate]="course.creationDate" [ngClass]="{ 'top-rated': course.topRated }">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{ course.title | uppercase }}<mat-icon *ngIf="course.topRated">star</mat-icon></mat-card-title>
        <mat-card-subtitle>
            <p><mat-icon>access_time</mat-icon>{{ course.duration | durationFormat }}</p>
            <p><mat-icon>event</mat-icon>{{ course.creationDate | date }}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ course.description }}
        </p>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button mat-button (click)="onEdit(course.id)">Edit</button>
        <button mat-button (click)="onRemove(course.id)">Delete</button>
    </mat-card-actions>
</mat-card>
