:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

app-courses-panel {
    margin-top: 3.5rem;
}

app-courses-list {
    flex: 1 0 auto;
}

app-footer {
    flex-shrink: 0;
}
